# Source
...

In [6]:
# read kiel_vessel_data.csv and save to ../datasets/kiel_vessel_data.csv
import pandas as pd

df = pd.read_csv('kiel_vessel_data.csv')
df = df.dropna()
df.to_csv('../datasets/kiel_vessel_data.csv', index=False)

df.head()

   Number of vessels        Date  Hour
0                  6  2019-01-01     0
1                  4  2019-01-01     1
2                  2  2019-01-01     2
3                  4  2019-01-01     3
4                  3  2019-01-01     4