In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# read csv
data = pd.read_csv("b76-joined.csv")
# convert dates
data["Hour"] = data["Hour"].astype("str")
data["DateTime"] = pd.to_datetime(data["Date"] + " " + data["Hour"] + ":00:00")
del data["Hour"]
del data["Date"]
# set datetime index
data.index = pd.DatetimeIndex(data.DateTime)
# fix no2 col
data = data[data['NO2-ug-per-m3'].apply(lambda x: x.isnumeric())]
data["NO2"] = data["NO2-ug-per-m3"].astype("int")
del data["NO2-ug-per-m3"]
# fix temp col
data = data[data["air_temp_deg_c"] > -500]
data.head()

,Cars-Direction-1,Cars-Direction-2,Cars-Total,Day-Of-Week,wind_meters_per_second,rain_millimeters,did_it_rain,air_temp_deg_c,relative_humidity_percent,e5,e10,diesel,DateTime,NO2
DateTime,,,,,,,,,,,,,,
2019-01-02 04:00:00,11,8,19,3,7.5,0.0,0,3.5,67.0,1.399000,1.379000,1.289000,2019-01-02 04:00:00,11
2019-01-02 05:00:00,30,40,70,3,6.6,0.0,0,3.8,62.0,1.404529,1.379118,1.265706,2019-01-02 05:00:00,25
2019-01-02 06:00:00,137,76,213,3,9.1,0.0,0,3.9,57.0,1.394352,1.372944,1.248014,2019-01-02 06:00:00,65
2019-01-02 07:00:00,266,198,464,3,9.8,0.0,0,3.9,52.0,1.383038,1.355538,1.234577,2019-01-02 07:00:00,71
2019-01-02 08:00:00,394,252,646,3,9.9,0.0,0,3.7,54.0,1.373588,1.347706,1.228059,2019-01-02 08:00:00,70

In [8]:
X = data[["Cars-Total", "diesel", "wind_meters_per_second"]].to_numpy()
Y = data["NO2"].to_numpy()
(X.shape, Y.shape)

((6504, 3), (6504,))

In [17]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X, Y)
display("Score: (1==perfect)") # see https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html#sklearn.linear_model.LinearRegression.scoreb
reg.score(X,Y)

'Score: (1==perfect)'

0.3223914809651851

In [16]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression(random_state=0, max_iter=1000).fit(X, Y)
reg.score(X,Y)

C:\Anaconda\envs\tf-gpu\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.03336408364083641