In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# read csv
data = pd.read_csv("b76-joined.csv")
# convert dates
data["Hour"] = data["Hour"].astype("str")
data["DateTime"] = pd.to_datetime(data["Date"] + " " + data["Hour"] + ":00:00")
del data["Hour"]
del data["Date"]
# set datetime index
data.index = pd.DatetimeIndex(data.DateTime)
# fix no2 col
data = data[data['NO2-ug-per-m3'].apply(lambda x: x.isnumeric())]
data["NO2"] = data["NO2-ug-per-m3"].astype("int")
del data["NO2-ug-per-m3"]
# fix temp col
data = data[data["air_temp_deg_c"] > -500]
data.head()

,Cars-Direction-1,Cars-Direction-2,Cars-Total,Day-Of-Week,wind_meters_per_second,rain_millimeters,did_it_rain,air_temp_deg_c,relative_humidity_percent,e5,e10,diesel,DateTime,NO2
DateTime,,,,,,,,,,,,,,
2019-01-02 04:00:00,11,8,19,3,7.5,0.0,0,3.5,67.0,1.399000,1.379000,1.289000,2019-01-02 04:00:00,11
2019-01-02 05:00:00,30,40,70,3,6.6,0.0,0,3.8,62.0,1.404529,1.379118,1.265706,2019-01-02 05:00:00,25
2019-01-02 06:00:00,137,76,213,3,9.1,0.0,0,3.9,57.0,1.394352,1.372944,1.248014,2019-01-02 06:00:00,65
2019-01-02 07:00:00,266,198,464,3,9.8,0.0,0,3.9,52.0,1.383038,1.355538,1.234577,2019-01-02 07:00:00,71
2019-01-02 08:00:00,394,252,646,3,9.9,0.0,0,3.7,54.0,1.373588,1.347706,1.228059,2019-01-02 08:00:00,70

In [2]:
X = data[["Cars-Total", "diesel", "wind_meters_per_second"]].to_numpy()
Y = data["NO2"].to_numpy()
(X.shape, Y.shape)

((6504, 3), (6504,))

In [3]:
display(data["Cars-Total"].max())
display(data["diesel"].max())
display(data["wind_meters_per_second"].max())
display(data["NO2"].max())

1691

1.41351612903226

13.9

99

In [4]:
x_scale_factors = [1000.0, 10.0, 10.0]
y_scale_factor = 100.0

X[:, 0] /= x_scale_factors[0]
X[:, 1] /= x_scale_factors[1]
X[:, 2] /= x_scale_factors[2]
Y = Y / y_scale_factor

In [9]:
import tensorflow as tf
print("TensorFlow version:", tf.__version__)

from tensorflow.keras.layers import Dense
from tensorflow.keras import Model

model = tf.keras.Sequential()
for i in range(2):
    model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation="linear"))

model.add(tf.keras.layers.Dense(1))
model.compile(optimizer='adam', loss='mse', metrics=['mean_absolute_error'])
model.fit(X, Y, batch_size=64, epochs=10, validation_split=0.2)

TensorFlow version: 2.5.0
Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, None, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 3), dtype=tf.float32, name='dense_9_input'), name='dense_9_input', description="created by layer 'dense_9_input'"), but it was called on an input with incompatible shape (None, 3).
WARNING:tensorflow:Model was constructed with shape (None, None, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 3), dtype=tf.float32, name='dense_9_input'), name='dense_9_input', description="created by layer 'dense_9_input'"), but it was called on an input with incompatible shape (None, 3).
73/82 [=========================>....] - ETA: 0s - loss: 0.2103 - mean_absolute_error: 0.3683WARNING:tensorflow:Model was constructed with shape (None, None, 3) for input KerasTensor(type_spec=TensorSpec(shape=(None, None, 3), dtype=tf.float32, name='dense_9_input'), name='dense_9_input', description="created by layer 'dense_9_input'"), but it was called on an input with incompatible shape (None, 3).
82/82 [==============================] - 1s 4ms/step - loss: 0.1952 - mean_absolute_error: 0.3517 - val_loss: 0.0463 - val_mean_absolute_error: 0.1778
Epoch 2/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0460 - mean_absolute_error: 0.1800 - val_loss: 0.0343 - val_mean_absolute_error: 0.1520
Epoch 3/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0421 - mean_absolute_error: 0.1719 - val_loss: 0.0330 - val_mean_absolute_error: 0.1492
Epoch 4/10
82/82 [==============================] - 0s 4ms/step - loss: 0.0412 - mean_absolute_error: 0.1692 - val_loss: 0.0307 - val_mean_absolute_error: 0.1432
Epoch 5/10
82/82 [==============================] - 0s 4ms/step - loss: 0.0402 - mean_absolute_error: 0.1665 - val_loss: 0.0293 - val_mean_absolute_error: 0.1410
Epoch 6/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0397 - mean_absolute_error: 0.1652 - val_loss: 0.0276 - val_mean_absolute_error: 0.1333
Epoch 7/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0395 - mean_absolute_error: 0.1646 - val_loss: 0.0286 - val_mean_absolute_error: 0.1391
Epoch 8/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0395 - mean_absolute_error: 0.1646 - val_loss: 0.0276 - val_mean_absolute_error: 0.1357
Epoch 9/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0394 - mean_absolute_error: 0.1640 - val_loss: 0.0268 - val_mean_absolute_error: 0.1326
Epoch 10/10
82/82 [==============================] - 0s 3ms/step - loss: 0.0392 - mean_absolute_error: 0.1639 - val_loss: 0.0272 - val_mean_absolute_error: 0.1347

In [6]:
import tensorflowjs as tfjs

tfjs.converters.save_keras_model(model, "tfjs_model")